<footer class="common-width">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
        <div class="foot-ul">
          <ul>
            <li><a href="#">意见反馈</a></li>
            <li><a href="#">关于我们</a></li>
          </ul>
          <ul>
            <li><a href="#">版权声明</a></li>
            <li><a href="#">联系我们</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h5>成都ICP备14007358号-1</h5>
        <h5>成都网安备11010802014104号</h5>
        <h5>Powered-by weike 2008-2017</h5>
      </div>
    </div>
  </div>
</footer>