<header class="common-width">
  <div class="container">
    <nav>
      <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
      <ul class="nav-ul hidden-xs">
        <li><a href="search.html" target="_blank">科研</a></li>
        <li><a href="search.html" target="_blank">实践</a></li>
        <li><a href="search.html" target="_blank">体育</a></li>
        <li><a href="search.html" target="_blank">IT</a></li>
        <li><a href="search.html" target="_blank">娱乐</a></li>
      </ul>
      <div class="sign hidden-xs">
        <div class="not-logged">
          <a id="sign-in-bt" href="#">登录</a>
          <a id="sign-up-bt" href="#">注册</a>
        </div>
        <div class="logged">
          <div class="logged-user">
            <div class="user-message">
              <span class="user-head"></span>
              <span class="user-name">方雕</span>
            </div>
            <div class="user-ul">
              <i class="triangle"></i>
              <ul>
                <li><i class="iconfont">&#xe698;</i><a href="release.html" target="_blank">发布项目</a></li>
                <li><i class="iconfont">&#xe685;</i><a href="user.html" target="_blank">个人中心</a></li>
                <li><i class="iconfont">&#xe608;</i><a class="cancel" href="#">退出</a></li>
              </ul>
            </div>
          </div>
          <div class="logged-message">
            <i class="iconfont">&#xe619;</i>
            <div class="message-box">
              <i class="triangle"></i>
              <h6>我的消息</h6>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-ul visible-xs-block">
        <i class="iconfont" id="head-nav">&#xe624;</i>
        <ul>
          <li><a href="search.html" target="_blank">科研</a></li>
          <li><a href="search.html" target="_blank">实践</a></li>
          <li><a href="search.html" target="_blank">体育</a></li>
          <li><a href="search.html" target="_blank">IT</a></li>
          <li><a href="search.html" target="_blank">娱乐</a></li>
          <li class="logged-m"><a href="release.html" target="_blank">发布项目</a></li>
          <li class="logged-m"><a href="#">我的消息</a></li>
          <li class="logged-m"><a href="user.html" target="_blank">个人中心</a></li>
          <li class="logged-m"><a class="cancel" href="#">退出</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>