<div class="register common-width">
  <div class="container">
    <form class="teacher" style="display: none;">
      <div class="user-img-m">
        <h4 class="col-xs-3 col-sm-2">头像</h4>
        <div class="user-img">
          <div class="img-mask"></div>
          <i class="iconfont">&#xe62e;</i>
          <h5>点击上传头像</h5>
          <input class="head-img" type="file">
        </div>
      </div>
      <div class="user-text">
        <div class="input-box border-top">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">姓名</h4>
            <input class="col-xs-5 col-sm-3" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">性别</h4>
            <div class="sex">
              <label><input type="radio" value="男" name="sex" checked="checked">男</label>
              <label><input type="radio" value="女" name="sex">女</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">所在院校</h4>
            <select name="" id="">
              <option value="西南石油大学">西南石油大学</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">所在院系</h4>
            <select name="" id="">
              <option value="计算机科学与技术学院">计算机科学与技术学院</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">职称</h4>
            <select name="teacher-title" id="">
              <option value="助教">助教</option>
              <option value="讲师">讲师</option>
              <option value="副教授">副教授</option>
              <option value="教授">教授</option>
              <option value="博士生导师">博士生导师</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">邮箱</h4>
            <input class="col-xs-8 col-sm-4" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">QQ</h4>
            <input class="col-xs-8 col-sm-4" type="text">
          </div>
        </div>
      </div>
    </form>
    <form class="student">
      <div class="user-img-m">
        <h4 class="col-xs-3 col-sm-2">头像</h4>
        <div class="user-img">
          <div class="img-mask"></div>
          <i class="iconfont">&#xe62e;</i>
          <h5>点击上传头像</h5>
          <input class="head-img" type="file">
        </div>
      </div>
      <div class="user-text">
        <div class="input-box border-top">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">姓名</h4>
            <input class="col-xs-5 col-sm-3" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">学历</h4>
            <select name="" id="">
              <option value="大专">大专</option>
              <option value="本科">本科</option>
              <option value="硕士">硕士</option>
              <option value="博士">博士</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">性别</h4>
            <div class="sex">
              <label><input type="radio" value="男" name="sex" checked="checked">男</label>
              <label><input type="radio" value="女" name="sex">女</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">所在院校</h4>
            <select name="" id="">
              <option value="西南石油大学">西南石油大学</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">所在院系</h4>
            <select name="" id="">
              <option value="计算机科学与技术学院">计算机科学与技术学院</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">专业年级</h4>
            <select name="" id="">
              <option value="2010级">2010级</option>
              <option value="2011级">2011级</option>
              <option value="2012级">2012级</option>
              <option value="2013级">2013级</option>
              <option value="2014级">2014级</option>
              <option value="2015级">2015级</option>
              <option value="2016级">2016级</option>
              <option value="2017级">2017级</option>
              <option value="2018级">2018级</option>
              <option value="2019级">2019级</option>
              <option value="2020级">2020级</option>
            </select>
            <select name="" id="">
              <option value="网络工程">网络工程</option>
              <option value="软件工程">软件工程</option>
              <option value="物理网工程">物理网工程</option>
              <option value="计算机科学与技术">计算机科学与技术</option>
              <option value="信息管理">心里管理</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">技能</h4>
            <input class="col-xs-5 col-sm-3" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">技能掌握程度</h4>
            <input class="col-xs-5 col-sm-3" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">项目经验</h4>
            <input class="col-xs-5 col-sm-3" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">邮箱</h4>
            <input class="col-xs-8 col-sm-4" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">QQ</h4>
            <input class="col-xs-8 col-sm-4" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-sm-3">自我评价</h4>
            <input class="col-xs-8 col-sm-4" type="text">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>