<div class="mask"></div>
<div class="sign-box">
  <div class="sign-in" style="display: block;">
    <i id="close-icon" class="iconfont">&#xe648;</i>
    <h4>登录校园威客</h1>
    <h5>欢迎来到校园威客</h2>
    <form>  
      <div class="input-box">
        <input class="sign-in-email" type="text" maxlength="20" placeholder="邮箱">
        <label></label>
      </div>
      <div class="input-box">
        <input class="sign-in-password" type="password" maxlength="20" placeholder="密码">
        <i id="password-show" class="iconfont">&#xe7a0;</i>
        <label></label>
      </div>
      <div class="input-box">
        <input class="sign-in-code" type="text" maxlength="6" placeholder="验证码">
        <img class="img-code" src="" alt="">
        <label></label>
      </div>
      <div class="button-box">
        <button class="sign-in-button" type="button">登录</button>
      </div>
      <div class="sign-in-bottom">
        <label><input class="check-input" type="checkbox" checked value="true">记住我</label>
        <a href="#">忘记密码?</a>
        <a id="to-sign-up" href="#">注册</a>
      </div>
    </form>
  </div>
  <div class="sign-up" style="display: none;">
    <i id="close-icon" class="iconfont">&#xe648;</i>
    <h4>注册校园威客</h1>
    <h5>欢迎来到校园威客</h2>
    <form>  
      <div class="input-box">
        <input class="sign-up-email" type="text" maxlength="20" placeholder="邮箱">
        <label></label>
      </div>
      <div class="input-box">
        <input class="sign-up-user-name" type="text" maxlength="20" placeholder="昵称">
        <label></label>
      </div>
      <div class="input-box">
        <input class="sign-up-password" type="password" maxlength="20" placeholder="密码">
        <label></label>
      </div>
      <div class="input-box">
        <input class="sign-up-code" type="text" maxlength="6" placeholder="验证码">
        <img class="img-code" src="" alt="">
        <label></label>
      </div>
      <div class="button-box">
        <button class="sign-up-button" type="button">登录</button>
      </div>
      <div class="sign-in-bottom">
        <span>已有账号？</span>
        <a id="to-sign-in" href="#">登录</a>
      </div>
    </form>
  </div>
</div>